.header_section{
    background-color: rgb(146, 127, 127);
    text-align: center;
    padding: 30px;
    font-size: 150%;
    margin: 30px;
    border: 10px solid rgb(145, 37, 37);
    color: white;
    word-spacing: 2px;
}
.lorem_section{
    background-color: rgba(221, 37, 144, 0.692);
    text-align: center;
    padding: 30px;
    
    margin: 30px;
    border: 10px solid rgb(54, 228, 19);
    color: white;
    word-spacing: 2px;
}
.Importanttagssection{
    background-color: rgba(45, 158, 152, 0.692);
    text-align: center;
    padding: 30px;
    margin: 30px;
    border: 2px solid rgb(44, 46, 148);
    color: white;
    word-spacing: 2px;
}
.h1tags{
  text-align: center;
    font-size: 50px;
    color: black;
}
.list{
    background-color: rgba(49, 190, 30, 0.692);
 
    padding: 30px;
    margin: 30px;
    border: 10px solid rgb(9, 235, 20);
    color: white;
    word-spacing: 2px; 
}
.section{
    background-color: rgba(145, 27, 76, 0.692);
 
    padding: 30px;
    margin: 30px;
    border: 10px solid rgb(9, 235, 20);
    color: white;
    word-spacing: 2px; 
}

.image{
    margin:50px;
}
